    body{
     margin: 0 auto;
     background-color: #eee;
     font-family: Arial, Helvetica, sans-serif;   
    }
    h1{
        margin: 0, 0, 10px, 0;

    }

    header{
       background-color: #af6b4c;
       color : #fff;
       text-align: center;
       /* margin: 100px;  margin: 0-top 0-right 0-bottom 0-left */
       padding: 16px; /* padding: 0-top 0-right 0-bottom 0-left */
    }

    header a{
        text-decoration: none;
        background-color: #7c3d20;
        color: #fff;
        border-radius: 4px;
        padding: 10px 20px;
        transition: background-color 1s ease;
    }

    header a:hover{
        background-color: #3b1706;
    }
    
    main{
        padding: 16px;
    }

    section{
        background-color: #fff;
        padding: 16px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        margin: 16px 0;
    }

    .last {
        margin-bottom: 80px;
    }

    h2{
        border-bottom: 2px solid #af6b4c;
        padding-bottom: 8px;
        margin-bottom: 16px; 
    }

    input, textarea, select {
        width: 99%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    #cor{
        width: 50px;
        height: 50px;
    }

    form div {
        margin-bottom: 16px;
    }

    form button{
        background-color: #af6b4c;
        color: #fff;
        border-radius: 4px;
        border: none;
        padding: 12px 24px;
        cursor: pointer;
    }

    form button:hover{
        background-color: #ad603c;
    }

    footer{
        background-color: #af6b4c;
        padding: 16px;
        text-align: center;
        color: #fff;
        font-size: 16px;
        position: fixed;
        bottom: 0;
        width: 100%;
    }